<div class="container" fxLayout="column">
    <div fxLayout="column">
        <div>
            <img class="background-image" src="../../../assets/img/homepage.jpg">
        </div>
        <div class="description">
            <p>Pour être réconforter, redécouvrir ses sens, réapprendre le toucher.</p>
            <p>Faites confiance à Bôm, notre kit d'outil thérapeutiques</p>
            <p>pour personnes souffrant d'anorexie</p>
        </div>
    </div>

    <div class="product-section">
        <div class="block-title text-center">
            <h2>Nos produits</h2>
            <p class="text-presentation">Bôm est un ensemble d’outils repensés du quotidien à visées thérapeutiques. Les
                différents objets de ce dispositif sont là pour vous permettre de vous confier, vous réapproprier votre
                corps ou encore vous apporter un sentiment de sécurité. Mais le plus important est que vous alliez à
                votre rythme. Bôm est là pour vous accompagner à tous les stades de la maladie.</p>
        </div>
        <ng-container>
            <ngx-slick-carousel class="carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let product of productData; let i=index">
                    <app-product-card [product]="product" [currency]="currency" [index]="i">
                    </app-product-card>
                    <!-- data {{product.name}} -->
                    <!-- <embryo-ProductCard [product]="product" (addToCart)="addToCart($event)"
                        [currency]="embryoService.currency" (addToWishlist)="addToWishlist($event)" [index]="i">
                    </embryo-ProductCard> -->
                </div>
            </ngx-slick-carousel>
        </ng-container>

        <!-- <ng-container *ngIf="onNewArrivalsSelectedTab(embryoService.newArrivalSelectedTab)">
            
        </ng-container> -->
        <!-- <ngx-slick-carousel *ngIf="!embryoService.isDirectionRtl" class="carousel" [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let product of newProductsSliderData; let i=index">
                        <embryo-ProductCard [product]="product" (addToCart)="addToCart($event)"
                            [currency]="embryoService.currency" (addToWishlist)="addToWishlist($event)" [index]="i">
                        </embryo-ProductCard>
                    </div>
                </ngx-slick-carousel> -->
    </div>

</div>