<div class="container" fxLayout="column">
    <div fxLayout="column">
        <div>
            <img class="background-image" src="../../../assets/img/home_background.png">
        </div>
        <div class="description">
            <p>Pour être réconforter, redécouvrir ses sens, réapprendre le toucher.</p>
            <p>Faites confiance à Bôm, notre kit d'outil thérapeutiques</p>
            <p>pour personnes souffrant d'anorexie</p>
        </div>
    </div>
    <div>test</div>
    <app-carousel></app-carousel>
</div>
