<div *ngFor="let tag of rowsTemoignageData" class="container mt-5">
  <div class="row">
    <div class="col-12">
      <article class="blog-card">
        <div class="blog-card__background">
          <div class="card__background--wrapper">
            <div class="card__background--main">
              <img class="fond-img" src="../../../assets/img/cardfond.png" alt="bom">

              <div class="card__background--layer"></div>
            </div>
          </div>
        </div>
        <div class="blog-card__head">
          <span class="date__box">
            <span class="date__day">Bôm</span>
            <span class="date__month">Vous n'êtes pas seul.</span>
          </span>
        </div>
        <div class="blog-card__info">
          <h5>Lea, infirmière, 36 ans</h5>
          <p [innerHTML]="tag.title"></p>
          <p [innerHTML]="tag.content"></p>
          <a href="/contact" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>Demander de l'aide</a>
        </div>
      </article>
    </div>
  </div>
</div>
