<div class="card-member" *ngIf="person">
    <mat-card>
        <mat-card-title>{{person.name}}</mat-card-title>
        <!-- <mat-card-content> -->
        <img mat-card-image [src]="person.url" alt="person name">
        <!-- </mat-card-content> -->
        <div class="contact-section">
            <mat-card-subtitle>{{person.team}}</mat-card-subtitle>
            <!-- <mat-card-footer> -->
            <div *ngIf="person.contact">
                <a [href]="person.contact">contact</a>
            </div>
            <div class="description" *ngIf="person.description">
                "{{person.description}}"
            </div>
        </div>
        <!-- </mat-card-footer> -->
    </mat-card>

</div>