.vertical-menu
  width: 300px

.vertical-menu a
  background-color: #eee
  color: black
  display: block
  padding: 12px
  text-decoration: none

.vertical-menu a:hover
  background-color: #ccc

.vertical-menu a.active
  background-color: #4CAF50
  color: white

.fake-menu
  width: 300px
  height: 50%
  background-color: #eee

.background
  padding: 10px

.journal-preview
  text-align: center
  margin-top: 1%

.corner-button
  font-family: 'Lato', sans-serif
  letter-spacing: .02rem
  cursor: pointer
  background: transparent
  border: .5rem solid currentColor
  padding: 2%
  font-size: 0.7rem
  color: #3b5998
  position: relative

.button-div
  text-align: center

.quill
  padding-right: 5%
  padding-left: 5%
  width: 100%

.margin-left
  padding-left: 5%

.right
  float: right
  padding-right: 5%
  margin-top: 5px
