<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <app-toolbar-item *ngIf="!isConnected" [routerLink]="['/connexion']" [title]="'SE CONNECTER'"
                [description]="">
            </app-toolbar-item>
            <app-toolbar-item *ngIf="!isConnected" [routerLink]="['/inscription']" [title]="'S\'INSCRIRE'"
                [description]="">
            </app-toolbar-item>
            <app-toolbar-item *ngIf="isConnected" [routerLink]="['/profile']" [title]="'PROFILE'" [description]="">
            </app-toolbar-item>
            <app-toolbar-item *ngIf="isConnected" [routerLink]="['/journal']" [title]="'JOURNAL'" [description]="">
            </app-toolbar-item>
            <app-toolbar-item [routerLink]="['/qui-sommes-nous']" [title]="'À PROPOS'" [description]="'Notre équipe'">
            </app-toolbar-item>
            <app-toolbar-item [routerLink]="['/contact']" [title]="'CONTACT'" [description]="'Nous contacter'">
            </app-toolbar-item>
            <app-toolbar-item [routerLink]="['/temoignage']" [title]="'TEMOIGNAGE'" [description]="''">
            </app-toolbar-item>
            <app-toolbar-item *ngIf="isAdmin" [routerLink]="['/back-office']" [title]="'ADMINISTRATEUR'"
                [description]="''">
            </app-toolbar-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span [routerLink]="['/']">Bôm</span>
            <span class="top-bar-spacer"></span>
            <mat-icon class="top-bar-icon" [routerLink]="['/profile']" aria-hidden="false" aria-label="Account">
                account_circle</mat-icon>
        </mat-toolbar>
        <ng-content></ng-content>

    </mat-sidenav-content>
</mat-sidenav-container>