.example-card
    height: 500px

mat-card
    &:hover .m-icon
        transform: translateY(-20px)

.m-icon
    position: absolute
    bottom: 35px
    right: 10px
    transition: all 0.3s ease-in

.image-style
    height: 400px
    max-width: 100%

mat-card
    margin-left: 1rem
    margin-right: 1rem
    padding: 1rem 0 1rem 0

mat-card img
    margin: 0 0 16px 0

mat-card-title
    padding: 0 0 8px 1rem

.product-content
    padding-left: 1rem
    