<mat-card class="example-card" *ngIf="product">
    <mat-card-title>{{product?.name}}</mat-card-title>

    <img class="image-style" mat-card-image width="626" height="400" [src]="product?.cover" alt="Photo">

    <mat-card-content class="product-content relative">
        <div fxFlex fxLayoutAlign="space-between">
            <h5 class="accent-color">{{product?.price | currency: currency}}</h5>
        </div>

        <div class="m-icon">
            <button mat-fab [routerLink]="['/produit', product?.id]"><i class="material-icons">
                    remove_red_eye </i>
            </button>
        </div>
    </mat-card-content>
</mat-card>