<p>login works!</p>

<form name="loginForm" [formGroup]="m_loginForm" novalidate (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
        <mat-label>{{'LOGIN.EMAIL'}}</mat-label>
        <input matInput type="email" formControlName="email" email="true">
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
          L'adresse email est invalide.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>{{'LOGIN.PASSWORD'}}</mat-label>
        <input matInput type="password" formControlName="password" required minlength="6">
        <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
          Saissisez votre mot de passe.
        </mat-error>
        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>

    </mat-form-field>

    <button mat-raised-button class="submit-button" color="accent" [disabled]="m_loginForm.invalid"
        style="white-space: pre-wrap !important;">
        Valider
    </button>
</form>
